body {
  margin: 0px;
  padding: 20px 0;
  font-size: 18px;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  background-color: #BBB;
}

.header {
  padding: 0 10px;
  color: #111;
  background-color: #AAA;
  text-align: center;
  height: 48.4px;
  line-height: 24.2px;
  font-size:small;
}

.footer {
  padding:5px;
  font-style:italic;
  font-size:small;
  text-align: center;
}

#coords{
	padding: 20px;
	text-align: center;
}

#map{
  margin: 10px 0;
  border: 1px solid;
  padding: 5px;
  height: 70vh;
  width: 94vw;
}

button{
	background-color: #333333;
	color: #ffffff;
	border: none;
	width: 100%;
	padding: 10px;
	font-size: 1em;
	margin-top: 1px;
}
